<body>
  <div class="welcome-text">
    Welcome to Scrivn, a site for fountain pen enthusiasts.
  </div>
  <div class="small-9 columns" id="logo">
    <%= image_tag("scrivnlogo.jpg", :alt => "Scrivn Logo") %>
  <div>
</body>
