/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 * 1A777C

 */
 body {
   background-image: url('morescrolls.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: top;
   font-family: 'Eagle Lake', cursive;
 }

h1 {
  color: #8F0000;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background:rgba(255,255,255,0.5);
}

h2 {
  color: #8F0000;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background:rgba(255,255,255,0.5);
}

h3 {
  background:rgba(255,255,255,0.5);
  color: #8F2621;
  font-family: 'Eagle Lake', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h5 {
  background:rgba(255,255,255,0.5);
  width: 125px;
}

a {
  color: #1A777C;
  font-family: 'Eagle Lake', cursive;
}

.ink-details {
  color: #8F0000;
  background:rgba(255,255,255,0.75);
  font-family: 'Eagle Lake', cursive;
  font-size: 20px;
  margin: 3px !important;
  padding-left: 3px;
  text-align: center;
}

.picture-small {
  max-width:250px;
  max-height:250px;
  margin: auto;
}

.picture {
  max-width:500px;
  max-height:500px;
  margin: auto;
  padding-top: 18px;
}

.add-delete {
  background:rgba(255,255,255,0.5);
  width: 125px;
}

label {
  color: #8F0000;
}


.form-field {
  color: #8F0000;
}

.form-field input {
  background-color:rgba(255,255,255,0.5);
}

.name {
  color: #B53274;
  font-size: 22px;
}

.show-details {
  margin-top: 5px;
  background:rgba(255,255,255,0.5);
  color: #8F0000;
  font-size: 20px;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

header {
  background:rgba(255,255,255,0.5);
}

.menu-text {
  color: #8F0000;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background:rgba(255,255,255,0.5);
}

.add-ink {
  background:rgba(255,255,255,0.5);
  width: 135px;
  padding-left: 5px;
}

.newinkform,
.userinkform {
  background:rgba(255,255,255,0.5);
}

.inline label{
  display: inline;
}
